<launch>
  <rosparam command="load" file="$(find jackal_control)/config/control.yaml" />

  <node name="controller_spawner" pkg="controller_manager" type="spawner"
        args="jackal_joint_publisher jackal_velocity_controller --shutdown-timeout 1" />

  <include file="$(find jackal_control)/launch/navsat_transform.launch" />  

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
    <rosparam command="load" file="$(find jackal_control)/config/robot_localization.yaml" />
  </node>

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_internal_imu">
    <rosparam command="load" file="$(find jackal_control)/config/robot_localization_internal_imu.yaml" />
    <remap from="odometry/filtered" to="odometry/filtered/internal_imu"/>
  </node>

  <!--<node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_collaborative">
    <rosparam command="load" file="$(find jackal_control)/config/robot_localization_collaborative.yaml" />
    <remap from="odometry/filtered" to="odometry/filtered/collaborative"/>
  </node>-->

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_global">
    <rosparam command="load" file="$(find jackal_control)/config/robot_localization_global.yaml" />
    <remap from="odometry/filtered" to="odometry/filtered/global"/>
  </node>

</launch>

